<h2>Anathema Guild Fourm</h2>
<div>
	<% if notice %>
	  <p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	  <p class="alert alert-danger"><%= alert %></p>
	<% end %>
</div>
<div>
	<%= render 'shared/navbar_top' %>
</div>
<div >
	<%= render 'posts/index' %>
</div>